/* From Uiverse.io by KSAplay */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    /* Content section */
    .content-section {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        padding-top: 15px;
        color: rgb(0, 0, 0);
        z-index: 10;

        .left-side:not(.icon) {
            width: 20%;
            font-size: 11pt;
            font-weight: 600;
            align-self: baseline;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon svg {
        width: 40px;
    }

    .weather-info .right-side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .weather-info .right-side p:nth-child(2) {
        font-size: 9pt;
        margin: 0;
        padding: 0;
    }

    .weather-info .location span {
        font-size: 11pt;
        font-weight: 700;
        text-transform: uppercase;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .location svg {
        width: 14px;
        height: auto;
    }

    .temperature {
        font-size: 20pt;
        font-weight: 700;
        line-height: 30px;
    }

    .forecast {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        padding: 10px 25px;
    }

    .forecast>div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        font-size: 9pt;
    }

    .separator {
        width: 100%;
        height: 2px;
        background-color: lightslategray;
        border-radius: 1px;
    }
}